<% for( var i= 0; i<obj.length; i++){ %>
    <tr>
        <td><%= obj[i].name %></td>
        <td><%= obj[i].email %></td>
        <td><%= obj[i].mobile %></td>
        <td><%= obj[i].subject %></td>
        <td><i class="fas fa-edit"></i> <span><i class="fas fa-trash-alt"></i></span></td>

    </tr>
    
<% } %>